{% extends "chat/base.html" %}
{% block style %}
{% load static %}
<link rel="stylesheet" href="{% static 'chat/room.css' %}">
{% endblock style %}
{% block content %}
    <h1 class="text-center">Welcome to {{ room_name}}</h1>
    <div class="mb-3 chatbox-container">
      <ul class="chatbox" id="chat-log">
      </ul>
    </div>
    <div class="mb-3">
      <input class="form-control" id="chat-message-input" type="text" size="100"><br>
    </div>
    <div class="mb-3">
      <input class="btn btn-primary" id="chat-message-submit" type="button" value="Send">
    </div>
    {{ room_name|json_script:"room-name" }}
    {{ request.user.username|json_script:"username" }}
    <script>
        const roomName = JSON.parse(document.querySelector('#room-name').textContent);
        const username = JSON.parse(document.querySelector('#username').textContent);

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            let chatbox = document.querySelector('#chat-log');
            let message = document.createElement("li");
            message.textContent = data.message; 
            chatbox.append(message)
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = username + ": " + messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };
    </script>
{% endblock %}
