* {
  box-sizing: border-box;
}

.chatbox-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  gap: 1rem;
}

.chatbox {
  width: 70%;
  height: 300px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 1em;
}

.message {
  width: 100%;
}

.connected-users {
  width: 30%;
  height: 300px;
  overflow: scroll;
}
